@media only screen and (max-width: 300px) {
  body {
    background-color: red;
  }

  #medium,
  #large {
    display: none;
  }
}
@media only screen and (max-width: 768px) and (min-width: 300px) {
  body {
    background-color: green;
  }
  #small,
  #large {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  body {
    background-color: blue;
  }
  #small,
  #medium {
    display: none;
  }
}
